/*.device-iphone-14-pro .device-frame {
  background: #010101;
  border: calc(var(--devices-scale) * 1px) solid #1b1721;
  border-radius: calc(var(--devices-scale) * 68px);
  box-shadow: inset 0 0 calc(var(--devices-scale) * 4px)
      calc(var(--devices-scale) * 2px) #c0b7cd,
    inset 0 0 0 calc(var(--devices-scale) * 6px) #342c3f;
  height: calc(var(--devices-scale) * 868px);
  padding: calc(var(--devices-scale) * 19px);
  width: calc(var(--devices-scale) * 428px);
}

.device {
  position: relative;
  transform: scale(1);
  z-index: 1;
}
.device-lg {
  --devices-scale: 1;
}
.device-md {
  --devices-scale: 0.6;
}
.device-sm {
  --devices-scale: 0.4;
}
.device-xs {
  --devices-scale: 0.2;
}
*/
